.selectionList {
    display: flex;
    flex-direction: column;
    flex: 0.65;
}

.selectionList__header {
    display: flex;
    padding: 10px;
    height: 80px;
}

.selectionList__header > img {
    width: auto; 
    max-height: 100%; 
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.selectionList__options {
    background-color: rgb(255, 230, 230);
    overflow: scroll;
    border-radius: 20px;
    max-width: relative;
    flex-wrap: wrap;
}