.selectionTable {
    display: flex;
    flex-direction: column;
    flex: 0.65;
    overflow: scroll;
}

.selectionTable__header {
    display: flex;
    padding: 10px;
    height: 80px;
}

.selectionTable__header > img {
    width: auto; 
    max-height: 100%; 
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

th {
    font-size: larger;
    border: 1px solid black;
}

td{
    border: 1px solid black;
}

.tableItem{
    display: flex;
}

.table{
    width: 65%;
}
