.selection {
    display: flex;
    flex-direction: column;
    flex: 0.65;
}

.selection__header {
    display: flex;
    padding: 10px;
    height: 80px;
}

.selection__header > img {
    width: auto; 
    max-height: 100%; 
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.selection__options {
    display: flex;
    background-color: rgb(255, 230, 230);
    overflow: auto;
    border-radius: 20px;
    max-width: relative;
    flex-wrap: wrap;
}