.selection__option {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border: 1px solid black;
}

*{
    text-decoration: none !important;
    color: black;
}

.selection__avatar {
    margin-top: 10px;
}

.selection__option:hover {
    background-color: #ffd2d2;
}

.selection__info > h3 {
    font-size: 16px;
    margin-bottom: 8px;
}

.selection__info{
    margin-left: 15px;
}