th {
    font-size:x-large;
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

.table {
    text-align: center;
    border: 1px solid black;
}

.view {
    height: 77vh;
    overflow: auto;
    margin-left: 7vw;
}

