.app {
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  height: 100vh;
  border-radius: 20px;
}

.app__body {
  display: flex;
  background-color: #ebb9b9;
  margin-top: -50px;
  width: 90vw;
  height: 90vh;
  box-shadow:  -1px 4px 20px -6px rgba(0,0,0,0.2);
  border-radius: 20px;
}